infusion pumps/flows.json
[{"id":"239d4833.4c3668","type":"tab","label":"pump coordinator","disabled":false,"info":""},{"id":"670a84b4.7966ac","type":"link out","z":"239d4833.4c3668","name":"","links":["96607d06.384dc","e073cebe.320db","9b822321.34f58"],"x":1515,"y":320,"wires":[]},{"id":"2168c97a.22d9d6","type":"link out","z":"239d4833.4c3668","name":"","links":["4b4e15b1.5b593c","610cb2ca.213cec","f264f9f6.0d21a8"],"x":1515,"y":260,"wires":[]},{"id":"7d75ae41.0fa51","type":"link out","z":"239d4833.4c3668","name":"","links":["c4f73a8b.4b1578"],"x":1515,"y":440,"wires":[]},{"id":"3b577f51.96cf5","type":"link out","z":"239d4833.4c3668","name":"","links":["48de0afa.e04d74","9cd8f19c.b9ea1"],"x":1515,"y":540,"wires":[]},{"id":"d67b0157.c25f4","type":"ui_button","z":"239d4833.4c3668","name":"","group":"e5dd603b.e1dc6","order":0,"width":0,"height":0,"passthru":false,"label":"home all","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1220,"y":260,"wires":[["2168c97a.22d9d6"]]},{"id":"72040608.b80b98","type":"ui_button","z":"239d4833.4c3668","name":"","group":"e5dd603b.e1dc6","order":0,"width":0,"height":0,"passthru":true,"label":"run all","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1230,"y":320,"wires":[["670a84b4.7966ac"]]},{"id":"1d357058.5576f","type":"comment","z":"239d4833.4c3668","name":"pump2","info":"","x":1590,"y":400,"wires":[]},{"id":"48361ebe.6c1d","type":"comment","z":"239d4833.4c3668","name":"pump3","info":"","x":1590,"y":500,"wires":[]},{"id":"b7341d42.d47b7","type":"function","z":"239d4833.4c3668","name":"","func":"var counter=flow.get('counter') || 0;\nvar experiment_params = {\n  \"pumps\": [\n    {\n      \"number\": 1,\n      \"name\": \"woda\",\n      \"diameter\": 16\n    },\n    {\n      \"number\": 2,\n      \"name\": \"olej\",\n      \"diameter\": 16\n    }\n  ],\n  \"steps\": [\n    {\n      \"step\": 1,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 1.0,\n      \"ratio2\": 0.2\n    },\n    {\n      \"step\": 2,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 0.2,\n      \"ratio2\": 1.0\n    },\n    {\n      \"step\": 3,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 1.0,\n      \"ratio2\": 0.2\n    },\n    {\n      \"step\": 4,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 0.2,\n      \"ratio2\": 1.0\n    },\n    {\n      \"step\": 5,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 1.0,\n      \"ratio2\":0.2\n    },\n    {\n      \"step\": 6,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 0.2,\n      \"ratio2\": 1.0\n    },\n    {\n      \"step\": 7,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 1.0,\n      \"ratio2\": 0.2\n    },\n    {\n      \"step\": 8,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 0.2,\n      \"ratio2\": 1.0\n    },\n    {\n      \"step\": 9,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 1.0,\n      \"ratio2\": 0.2\n    },\n    {\n      \"step\": 10,\n      \"base_speed\": 40,\n      \"base_volume\": 1,\n      \"ratio1\": 0.2,\n      \"ratio2\": 1.0\n    }\n  ]\n};\n\n\nvar s1 = experiment_params.steps[counter].ratio1*experiment_params.steps[counter].base_speed;\nvar v1 = experiment_params.steps[counter].ratio1*experiment_params.steps[counter].base_volume;\nvar msg1 = { speed: s1, volume: v1};\nvar s2 = experiment_params.steps[counter].ratio2*experiment_params.steps[counter].base_speed;\nvar v2 = experiment_params.steps[counter].ratio2*experiment_params.steps[counter].base_volume;\nvar v_total = v1+v2;\nvar msg2 = { speed: s2, volume: v2};\nvar step_time;\nif (v1!=0){\n    step_time = v1/s1*60;//time calculation in s\n} else if (v2 != 0){\n    step_time = v2/s2*60;\n} else {\n    step_time = 0;\n}\nvar msg3 = { v_total: v_total, counter: counter, delay:step_time*1000+10};//delay in ms\n\ncounter = counter+1;\nflow.set('counter',counter);\nreturn [msg1,msg2,msg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":620,"y":420,"wires":[["7e2d2408.cfa68c","7d75ae41.0fa51"],["3b577f51.96cf5","67a2f84f.f1d1c8"],["ef21357a.510018","c0025fef.72f5b","20120976.d55a76","72c27764.69f328"]],"outputLabels":["msg1","",""]},{"id":"46739a68.9520f4","type":"ui_text","z":"239d4833.4c3668","group":"e5dd603b.e1dc6","order":5,"width":0,"height":0,"name":"","label":"0=empty; 80000=fully drawn 10mL syringe or 5cm distance from start","format":"","layout":"row-spread","className":"","x":790,"y":80,"wires":[]},{"id":"900a7303.8447b","type":"ui_text","z":"239d4833.4c3668","group":"e5dd603b.e1dc6","order":12,"width":0,"height":0,"name":"","label":"infos and memos: 10mL syringe is 16mm diameter 50mm long; 1mL 5mm 57mm;","format":"","layout":"row-spread","className":"","x":780,"y":120,"wires":[]},{"id":"7e2d2408.cfa68c","type":"debug","z":"239d4833.4c3668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":400,"wires":[]},{"id":"e3dadad0.ada9a8","type":"mqtt in","z":"239d4833.4c3668","name":"","topic":"pump_master/step_done","qos":"2","datatype":"auto","broker":"4595ce81.093c","x":1070,"y":900,"wires":[[]]},{"id":"8fa055a.02de5a8","type":"inject","z":"239d4833.4c3668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["6ea943af.a46c0c"]]},{"id":"ef21357a.510018","type":"ui_text","z":"239d4833.4c3668","group":"e5dd603b.e1dc6","order":12,"width":0,"height":0,"name":"","label":"total volume injected:","format":"{{msg.v_total}}mL","layout":"row-spread","className":"","x":920,"y":520,"wires":[]},{"id":"52125e05.d9deb","type":"ui_numeric","z":"239d4833.4c3668","name":"","label":"steps: ","tooltip":"","group":"e5dd603b.e1dc6","order":8,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":390,"y":820,"wires":[["27c848e9.f569e8"]]},{"id":"67a2f84f.f1d1c8","type":"debug","z":"239d4833.4c3668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"c0025fef.72f5b","type":"switch","z":"239d4833.4c3668","name":"","property":"counter","propertyType":"flow","rules":[{"t":"neq","v":"series_length","vt":"flow"},{"t":"eq","v":"series_length","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":560,"wires":[["f12bd9e7.6a7278"],[]]},{"id":"27c848e9.f569e8","type":"function","z":"239d4833.4c3668","name":"","func":"flow.set('series_length',msg.payload) || 0;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":860,"wires":[[]]},{"id":"20120976.d55a76","type":"ui_text","z":"239d4833.4c3668","group":"e5dd603b.e1dc6","order":12,"width":0,"height":0,"name":"","label":"","format":"in {{msg.delay}}ms","layout":"row-spread","className":"","x":870,"y":560,"wires":[]},{"id":"6ea943af.a46c0c","type":"function","z":"239d4833.4c3668","name":"","func":"flow.set('counter',0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["b7341d42.d47b7"]]},{"id":"72c27764.69f328","type":"debug","z":"239d4833.4c3668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"f12bd9e7.6a7278","type":"delay","z":"239d4833.4c3668","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":640,"wires":[["b7341d42.d47b7"]]},{"id":"2a70999e.88ea96","type":"mqtt out","z":"239d4833.4c3668","name":"","topic":"pump_master/series_length","qos":"","retain":"","broker":"4595ce81.093c","x":1090,"y":820,"wires":[]},{"id":"61e84afe.3f25d4","type":"debug","z":"239d4833.4c3668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"2487ea7f.183a26","type":"mqtt in","z":"239d4833.4c3668","name":"","topic":"common/status","qos":"2","datatype":"auto","broker":"4595ce81.093c","x":650,"y":160,"wires":[["61e84afe.3f25d4"]]},{"id":"685fa80e.4a44e8","type":"ui_button","z":"239d4833.4c3668","name":"","group":"e5dd603b.e1dc6","order":0,"width":0,"height":0,"passthru":true,"label":"run program","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":300,"wires":[["6ea943af.a46c0c"]]},{"id":"8699673f.96b2f8","type":"tab","label":"pump_2","disabled":false,"info":""},{"id":"20c870b6.4b95f","type":"mqtt out","z":"8699673f.96b2f8","name":"","topic":"pump_2/speed","qos":"2","retain":"","broker":"4595ce81.093c","x":1340,"y":320,"wires":[]},{"id":"24c62906.0a1526","type":"mqtt out","z":"8699673f.96b2f8","name":"","topic":"pump_2/steps","qos":"2","retain":"","broker":"4595ce81.093c","x":1100,"y":500,"wires":[]},{"id":"cf98b397.5e37a","type":"mqtt out","z":"8699673f.96b2f8","name":"","topic":"pump_2/run","qos":"2","retain":"","broker":"4595ce81.093c","x":1110,"y":560,"wires":[]},{"id":"446f3f5f.1f316","type":"ui_button","z":"8699673f.96b2f8","name":"run","group":"83f6308b.a225","order":4,"width":0,"height":0,"passthru":true,"label":"run","tooltip":"rev","color":"","bgcolor":"","className":"","icon":"","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":750,"y":560,"wires":[["cf98b397.5e37a"]]},{"id":"a52d9e5e.0f815","type":"ui_slider","z":"8699673f.96b2f8","name":"","label":"speed","tooltip":"","group":"84f5a50.a907958","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"speed","topicType":"msg","min":"0","max":"100","step":1,"className":"","x":530,"y":360,"wires":[["bddefadb.3f2618"]]},{"id":"288c0794.752028","type":"ui_slider","z":"8699673f.96b2f8","name":"","label":"steps","tooltip":"","group":"84f5a50.a907958","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"steps","topicType":"str","min":"-2600","max":"2600","step":1,"className":"","x":750,"y":500,"wires":[["24c62906.0a1526"]]},{"id":"1fe152c2.daa74d","type":"mqtt out","z":"8699673f.96b2f8","name":"","topic":"pump_2/end_position","qos":"2","retain":"","broker":"4595ce81.093c","x":1080,"y":280,"wires":[]},{"id":"7f48ac9e.315fc4","type":"ui_slider","z":"8699673f.96b2f8","name":"","label":"set position:","tooltip":"","group":"83f6308b.a225","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"80000","step":1,"className":"","x":730,"y":280,"wires":[["1fe152c2.daa74d","4a7cc9c9.be9578","e5be5a78.58f998"]]},{"id":"7a30ce35.b7cf7","type":"mqtt out","z":"8699673f.96b2f8","name":"","topic":"pump_2/homing","qos":"2","retain":"","broker":"4595ce81.093c","x":1100,"y":620,"wires":[]},{"id":"abb66f5d.f0683","type":"ui_button","z":"8699673f.96b2f8","name":"home","group":"83f6308b.a225","order":8,"width":0,"height":0,"passthru":true,"label":"home","tooltip":"homing","color":"","bgcolor":"","className":"","icon":"","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":750,"y":620,"wires":[["7a30ce35.b7cf7"]]},{"id":"7ad3eb57.2f71b4","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":6,"width":0,"height":0,"name":"","label":"single step is: ","format":"{{msg.payload | number: 2}} nL","layout":"row-spread","className":"","x":1300,"y":680,"wires":[]},{"id":"193c9591.99b5ca","type":"function","z":"8699673f.96b2f8","name":"step volume","func":"\nD=msg.payload;\nr = D/2;\nS = r*r*3.14159265;\n//V_uL = S/800;\nV_uL = S*0.000625; //length of single step\nV_nL = V_uL*1000\nmsg.payload = V_nL\nmsg.topic = 'step_volume'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":680,"wires":[["7ad3eb57.2f71b4","4911e9fe.e2c7c8","eb0e89aa.952d78","3f00d22c.6b176e"]]},{"id":"af38cb99.ffd088","type":"ui_text_input","z":"8699673f.96b2f8","name":"","label":"syringe diameter in mm","tooltip":"","group":"84f5a50.a907958","order":5,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"diameter","sendOnBlur":true,"className":"","topicType":"msg","x":630,"y":680,"wires":[["193c9591.99b5ca"]]},{"id":"4911e9fe.e2c7c8","type":"function","z":"8699673f.96b2f8","name":"volumetric speed","func":"flow.speed = flow.speed || 70;\nflow.volume = flow.volume || 125;\n\nif (msg.topic === 'steps per second') {\n  flow.speed = msg.payload;\n} else if (msg.topic === 'volume') {\n  flow.volume = msg.payload;\n}\n\nV_uL_s = flow.volume*flow.speed\n\nmsg.payload = V_uL_s\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":780,"wires":[["7ce11dd4.40e4c4","b642f695.c43bb8"]]},{"id":"dc2e5c74.31ebc","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":7,"width":0,"height":0,"name":"","label":"stepper speed:","format":"{{msg.payload | number: 1}} steps/s","layout":"row-spread","className":"","x":1300,"y":720,"wires":[]},{"id":"7ce11dd4.40e4c4","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":8,"width":0,"height":0,"name":"","label":"volumetric speed:","format":"{{msg.payload | number: 2}} nL/s","layout":"row-spread","className":"","x":1310,"y":800,"wires":[]},{"id":"801eaa42.235888","type":"function","z":"8699673f.96b2f8","name":"steps/s","func":"speed = msg.payload\nsteps_per_second = 500000/speed\nmsg.payload = steps_per_second\nmsg.topic = 'steps per second'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":720,"wires":[["dc2e5c74.31ebc","4911e9fe.e2c7c8"]]},{"id":"b642f695.c43bb8","type":"function","z":"8699673f.96b2f8","name":"","func":"\nnL = msg.payload;\nmL = nL/1000000\n\nmsg.payload = mL\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":780,"wires":[["3ae6e81a.3a78a8","3d6c6164.5306fe"]]},{"id":"3ae6e81a.3a78a8","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":9,"width":0,"height":0,"name":"mL/s","label":"","format":"{{msg.payload | number: 2}} mL/s","layout":"row-spread","className":"","x":1630,"y":780,"wires":[]},{"id":"3d6c6164.5306fe","type":"function","z":"8699673f.96b2f8","name":"","func":"mL = msg.payload;\n\nmsg.payload = mL*60\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":840,"wires":[["68297cdf.dfc354"]]},{"id":"68297cdf.dfc354","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":10,"width":0,"height":0,"name":"mL/min","label":"","format":"{{msg.payload | number: 2}} mL/min","layout":"row-spread","className":"","x":1640,"y":840,"wires":[]},{"id":"eb0e89aa.952d78","type":"function","z":"8699673f.96b2f8","name":"","func":"flow.vol = flow.vol || 0; // desired volume\nflow.volume = flow.volume || 125; // single step volume in nL\nflow.position = flow.position || 80000; //present position\n\nif (msg.topic === 'd_vol') {\n    flow.vol = msg.payload;\n} else if (msg.topic === 'position') {\n    flow.position = msg.payload;\n} else if (msg.topic === 'step_volume') {\n    flow.volume = msg.payload;\n} else if (msg.topic === 'pump_3/position_now') {\n    flow.position = msg.payload;\n}\nif (context.vol === 0){\n    msg.payload = context.position;\n} else{\n    S = Math.round(flow.vol*1000000/flow.volume);\n    msg.vol = flow.vol;\n    msg.volume = flow.volume;\n    msg.S = S;\n    msg.payload = flow.position-S;\n}\nmsg.topic = 'd_pos';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":940,"wires":[["4a7cc9c9.be9578","7f48ac9e.315fc4","5ac48b83.18db44"]]},{"id":"932a4531.aa2798","type":"ui_text_input","z":"8699673f.96b2f8","name":"","label":"desired volume [mL]","tooltip":"","group":"83f6308b.a225","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"30","topic":"payload","sendOnBlur":false,"className":"","topicType":"msg","x":700,"y":940,"wires":[["f3a2178d.25b958"]]},{"id":"a604e5bc.9a2538","type":"ui_text_input","z":"8699673f.96b2f8","name":"","label":"desired volumetric speed mL/min","tooltip":"up to 53mL/min","group":"83f6308b.a225","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"30","topic":"topic","sendOnBlur":false,"className":"","topicType":"msg","x":660,"y":1020,"wires":[["ce511538.214ab8"]]},{"id":"f3a2178d.25b958","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'd_vol'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":940,"wires":[["eb0e89aa.952d78"]]},{"id":"ce511538.214ab8","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'd_vol_speed'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1020,"wires":[["3f00d22c.6b176e"]]},{"id":"60a902bb.53948c","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'position'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":860,"wires":[["eb0e89aa.952d78","6dfdfe86.70a5d","5ac48b83.18db44"]]},{"id":"4a7cc9c9.be9578","type":"ui_text","z":"8699673f.96b2f8","group":"83f6308b.a225","order":2,"width":0,"height":0,"name":"desired position","label":"it will go to position:","format":"{{msg.payload | number: 0}} ","layout":"row-spread","className":"","x":1280,"y":940,"wires":[]},{"id":"3f00d22c.6b176e","type":"function","z":"8699673f.96b2f8","name":"","func":"flow.vol_speed = context.vol_speed || 70;\nflow.volume = context.volume || 125;\n\nif (msg.topic === 'd_vol_speed') {\n  flow.vol_speed = msg.payload;\n} else if (msg.topic === 'step_volume') {\n  flow.volume = msg.payload;\n}\nif (flow.vol_speed === 0){\n    S = 10\n} else {\n    S = Math.round(5/(flow.vol_speed/6/flow.volume))\n}\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1020,"wires":[["5a76afab.87b94","f9dc5c70.385e3"]]},{"id":"10126acb.cc84c5","type":"mqtt in","z":"8699673f.96b2f8","name":"","topic":"pump_2/position_now","qos":"2","datatype":"auto","broker":"4595ce81.093c","x":680,"y":860,"wires":[["60a902bb.53948c"]]},{"id":"6dfdfe86.70a5d","type":"ui_text","z":"8699673f.96b2f8","group":"83f6308b.a225","order":1,"width":0,"height":0,"name":"present position","label":"present position:","format":"{{msg.payload | number: 0}} ","layout":"row-spread","className":"","x":1280,"y":860,"wires":[]},{"id":"b35c16b0.2a1f58","type":"ui_slider","z":"8699673f.96b2f8","name":"","label":"speed fine tune","tooltip":"","group":"84f5a50.a907958","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"fine","topicType":"str","min":"0","max":"1000","step":1,"className":"","x":500,"y":420,"wires":[["63fc06b4.7a5998"]]},{"id":"63fc06b4.7a5998","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'fine'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["14b47196.19110e"]]},{"id":"bddefadb.3f2618","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'crude'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":380,"wires":[["14b47196.19110e"]]},{"id":"14b47196.19110e","type":"function","z":"8699673f.96b2f8","name":"","func":"context.fine = context.fine || 70;\ncontext.crude = context.crude || 0;\n\nif (msg.topic === 'fine') {\n  context.fine = msg.payload;\n} else if (msg.topic === 'crude') {\n  context.crude = msg.payload;\n}\n\n\nS = context.crude*1000+context.fine;\nif (S<70){\n    S=70;\n}\nmsg.payload = S;\nmsg.topic = 'speed';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":400,"wires":[["20c870b6.4b95f","4911e9fe.e2c7c8","801eaa42.235888","9bb38e66.16efa"]]},{"id":"9bb38e66.16efa","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":3,"width":0,"height":0,"name":"","label":"speed: ","format":"{{msg.payload | number: 0}}","layout":"row-spread","className":"","x":1350,"y":400,"wires":[]},{"id":"5a76afab.87b94","type":"function","z":"8699673f.96b2f8","name":"","func":"S = msg.payload\nS = S % 1000\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["b35c16b0.2a1f58"]]},{"id":"f9dc5c70.385e3","type":"function","z":"8699673f.96b2f8","name":"","func":"S = msg.payload\nS = Math.round(S/1000)\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["a52d9e5e.0f815"]]},{"id":"8365e6c4.bee4d8","type":"ui_text","z":"8699673f.96b2f8","group":"84f5a50.a907958","order":11,"width":0,"height":0,"name":"pushed volume","label":"run will push:","format":"{{msg.payload | number: 2}} nL","layout":"row-spread","className":"","x":1540,"y":1080,"wires":[]},{"id":"5ac48b83.18db44","type":"function","z":"8699673f.96b2f8","name":"","func":"flow.d_pos = flow.d_pos || 0;\nflow.volume = flow.volume || 125;\nflow.position = flow.position || 80000;\n\nif (msg.topic === 'd_pos') {\n  flow.d_pos = msg.payload;\n} else if (msg.topic === 'position') {\n  flow.position = msg.payload;\n} else if (msg.topic === 'volume') {\n  flow.volume = msg.payload;\n}\n\nS = Math.round(flow.volume*(flow.position-flow.d_pos))\nmsg.payload = S\nmsg.topic = 'd_pos'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1020,"wires":[["8365e6c4.bee4d8"]]},{"id":"e5be5a78.58f998","type":"function","z":"8699673f.96b2f8","name":"topic setter","func":"\nmsg.topic = 'd_pos'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":300,"wires":[["5ac48b83.18db44"]]},{"id":"e073cebe.320db","type":"link in","z":"8699673f.96b2f8","name":"run","links":["670a84b4.7966ac"],"x":295,"y":560,"wires":[["446f3f5f.1f316"]]},{"id":"610cb2ca.213cec","type":"link in","z":"8699673f.96b2f8","name":"home","links":["2168c97a.22d9d6"],"x":295,"y":620,"wires":[["abb66f5d.f0683"]]},{"id":"c4f73a8b.4b1578","type":"link in","z":"8699673f.96b2f8","name":"speed","links":["7d75ae41.0fa51"],"x":215,"y":920,"wires":[["3c466b65.2c9cc4"]]},{"id":"3c466b65.2c9cc4","type":"function","z":"8699673f.96b2f8","name":"","func":"if (msg.volume !=0){\n    var msg1 = {payload: msg.volume};\n    var msg2 = {payload: msg.speed};\n    return [msg1,msg2];\n} else {}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":920,"wires":[["932a4531.aa2798","6a263e46.0b115"],["ce511538.214ab8","a604e5bc.9a2538"]]},{"id":"6a263e46.0b115","type":"delay","z":"8699673f.96b2f8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":800,"wires":[["cf98b397.5e37a"]]},{"id":"67d69a8a.ae29d4","type":"tab","label":"pump_3","disabled":false,"info":""},{"id":"843d988.9fb4168","type":"mqtt out","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/speed","qos":"2","retain":"","broker":"4595ce81.093c","x":1300,"y":260,"wires":[]},{"id":"d6db4572.c58818","type":"mqtt out","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/steps","qos":"2","retain":"","broker":"4595ce81.093c","x":1060,"y":440,"wires":[]},{"id":"f4f4f254.e30ec","type":"mqtt out","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/run","qos":"2","retain":"","broker":"4595ce81.093c","x":1070,"y":500,"wires":[]},{"id":"981cbc85.fffa3","type":"ui_button","z":"67d69a8a.ae29d4","name":"run","group":"197263ba.df276c","order":4,"width":0,"height":0,"passthru":true,"label":"run","tooltip":"rev","color":"","bgcolor":"","className":"","icon":"","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":500,"wires":[["f4f4f254.e30ec"]]},{"id":"4d3d2b57.dd05b4","type":"ui_slider","z":"67d69a8a.ae29d4","name":"","label":"speed","tooltip":"","group":"b55640db.785bc","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"speed","topicType":"msg","min":"0","max":"100","step":1,"className":"","x":490,"y":300,"wires":[["6cea12bf.65cbcc"]]},{"id":"ef7f2674.ce3718","type":"ui_slider","z":"67d69a8a.ae29d4","name":"","label":"steps","tooltip":"","group":"b55640db.785bc","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"steps","topicType":"str","min":"-2600","max":"2600","step":1,"className":"","x":710,"y":440,"wires":[["d6db4572.c58818"]]},{"id":"df4e8cfa.3a52f","type":"mqtt out","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/end_position","qos":"2","retain":"","broker":"4595ce81.093c","x":1040,"y":220,"wires":[]},{"id":"69fb00b4.2b692","type":"ui_slider","z":"67d69a8a.ae29d4","name":"","label":"set position:","tooltip":"","group":"197263ba.df276c","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"80000","step":1,"className":"","x":690,"y":220,"wires":[["df4e8cfa.3a52f","bad0ba56.a61468","93191de9.938f6"]]},{"id":"72925788.dc6ea8","type":"mqtt out","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/homing","qos":"2","retain":"","broker":"4595ce81.093c","x":1060,"y":560,"wires":[]},{"id":"19c5c606.3f735a","type":"ui_button","z":"67d69a8a.ae29d4","name":"home","group":"197263ba.df276c","order":8,"width":0,"height":0,"passthru":true,"label":"home","tooltip":"homing","color":"","bgcolor":"","className":"","icon":"","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":560,"wires":[["72925788.dc6ea8"]]},{"id":"61d88db.8e3c674","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":6,"width":0,"height":0,"name":"","label":"single step is: ","format":"{{msg.payload | number: 2}} nL","layout":"row-spread","className":"","x":1260,"y":620,"wires":[]},{"id":"7042ccdf.c4d904","type":"function","z":"67d69a8a.ae29d4","name":"step volume","func":"\nD=msg.payload;\nr = D/2;\nS = r*r*3.14159265;\n//V_uL = S/800;\nV_uL = S*0.000625; //length of single step\nV_nL = V_uL*1000\nmsg.payload = V_nL\nmsg.topic = 'step_volume'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":620,"wires":[["61d88db.8e3c674","3dddfe4f.4e8df2","93251c3a.76ef8","5169c43e.f90f5c"]]},{"id":"6ad90a39.a21104","type":"ui_text_input","z":"67d69a8a.ae29d4","name":"","label":"syringe diameter in mm","tooltip":"","group":"b55640db.785bc","order":5,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"diameter","sendOnBlur":true,"className":"","topicType":"msg","x":590,"y":620,"wires":[["7042ccdf.c4d904"]]},{"id":"3dddfe4f.4e8df2","type":"function","z":"67d69a8a.ae29d4","name":"volumetric speed","func":"context.speed = context.speed || 70;\ncontext.volume = context.volume || 125;\n\nif (msg.topic === 'steps per second') {\n  context.speed = msg.payload;\n} else if (msg.topic === 'volume') {\n  context.volume = msg.payload;\n}\n\nV_uL_s = context.volume*context.speed\n\nmsg.payload = V_uL_s\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":720,"wires":[["228bf6f5.e5e98a","bf94043a.262d98"]]},{"id":"65d21e66.47b11","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":7,"width":0,"height":0,"name":"","label":"stepper speed:","format":"{{msg.payload | number: 1}} steps/s","layout":"row-spread","className":"","x":1260,"y":660,"wires":[]},{"id":"228bf6f5.e5e98a","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":8,"width":0,"height":0,"name":"","label":"volumetric speed:","format":"{{msg.payload | number: 2}} nL/s","layout":"row-spread","className":"","x":1270,"y":740,"wires":[]},{"id":"81ed438d.e7243","type":"function","z":"67d69a8a.ae29d4","name":"steps/s","func":"speed = msg.payload\nsteps_per_second = 500000/speed\nmsg.payload = steps_per_second\nmsg.topic = 'steps per second'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":660,"wires":[["65d21e66.47b11","3dddfe4f.4e8df2"]]},{"id":"bf94043a.262d98","type":"function","z":"67d69a8a.ae29d4","name":"","func":"\nnL = msg.payload;\nmL = nL/1000000\n\nmsg.payload = mL\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":720,"wires":[["e33699ba.bc4b98","8855bbaa.65bac8"]]},{"id":"e33699ba.bc4b98","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":9,"width":0,"height":0,"name":"mL/s","label":"","format":"{{msg.payload | number: 2}} mL/s","layout":"row-spread","className":"","x":1590,"y":720,"wires":[]},{"id":"8855bbaa.65bac8","type":"function","z":"67d69a8a.ae29d4","name":"","func":"mL = msg.payload;\n\nmsg.payload = mL*60\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":780,"wires":[["a340c990.a47b58"]]},{"id":"a340c990.a47b58","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":10,"width":0,"height":0,"name":"mL/min","label":"","format":"{{msg.payload | number: 2}} mL/min","layout":"row-spread","className":"","x":1600,"y":780,"wires":[]},{"id":"aa1f164c.c11078","type":"ui_text_input","z":"67d69a8a.ae29d4","name":"","label":"desired volume [mL]","tooltip":"","group":"197263ba.df276c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"30","topic":"diameter","sendOnBlur":false,"className":"","topicType":"msg","x":600,"y":860,"wires":[["a3e60672.de7608"]]},{"id":"30b8736c.699afc","type":"ui_text_input","z":"67d69a8a.ae29d4","name":"","label":"desired volumetric speed mL/min","tooltip":"up to 53mL/min","group":"197263ba.df276c","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"30","topic":"diameter","sendOnBlur":false,"className":"","topicType":"msg","x":620,"y":960,"wires":[["be07dc5a.f5b9a"]]},{"id":"a3e60672.de7608","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'd_vol'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":880,"wires":[["5169c43e.f90f5c"]]},{"id":"be07dc5a.f5b9a","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'd_vol_speed'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":960,"wires":[["93251c3a.76ef8"]]},{"id":"2fe75c64.dd29c4","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'position'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":800,"wires":[["cd945e31.946c6","5169c43e.f90f5c","39646df7.184572"]]},{"id":"bad0ba56.a61468","type":"ui_text","z":"67d69a8a.ae29d4","group":"197263ba.df276c","order":2,"width":0,"height":0,"name":"desired position","label":"it will go to position:","format":"{{msg.payload | number: 0}} ","layout":"row-spread","className":"","x":1240,"y":880,"wires":[]},{"id":"470a14e0.a42b9c","type":"mqtt in","z":"67d69a8a.ae29d4","name":"","topic":"pump_3/position_now","qos":"2","datatype":"auto","broker":"4595ce81.093c","x":640,"y":800,"wires":[["2fe75c64.dd29c4"]]},{"id":"cd945e31.946c6","type":"ui_text","z":"67d69a8a.ae29d4","group":"197263ba.df276c","order":1,"width":0,"height":0,"name":"present position","label":"present position:","format":"{{msg.payload | number: 0}} ","layout":"row-spread","className":"","x":1240,"y":800,"wires":[]},{"id":"a2117a51.7cda08","type":"ui_slider","z":"67d69a8a.ae29d4","name":"","label":"speed fine tune","tooltip":"","group":"b55640db.785bc","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"speed","topicType":"msg","min":"0","max":"1000","step":1,"className":"","x":460,"y":360,"wires":[["91922bfc.9cdeb8"]]},{"id":"91922bfc.9cdeb8","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'fine'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":360,"wires":[["d8ef1e4b.55c43"]]},{"id":"6cea12bf.65cbcc","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'crude'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["d8ef1e4b.55c43"]]},{"id":"d8ef1e4b.55c43","type":"function","z":"67d69a8a.ae29d4","name":"","func":"context.fine = context.fine || 70;\ncontext.crude = context.crude || 0;\n\nif (msg.topic === 'fine') {\n  context.fine = msg.payload;\n} else if (msg.topic === 'crude') {\n  context.crude = msg.payload;\n}\n\n\nS = context.crude*1000+context.fine;\nif (S<70){\n    S=70;\n}\nmsg.payload = S;\nmsg.topic = 'speed';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":340,"wires":[["843d988.9fb4168","3dddfe4f.4e8df2","81ed438d.e7243","b1e1060c.16c088"]]},{"id":"b1e1060c.16c088","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":3,"width":0,"height":0,"name":"","label":"speed: ","format":"{{msg.payload | number: 0}}","layout":"row-spread","className":"","x":1310,"y":340,"wires":[]},{"id":"bf45ffac.d8608","type":"function","z":"67d69a8a.ae29d4","name":"","func":"S = msg.payload\nS = S % 1000\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["a2117a51.7cda08"]]},{"id":"1ea741f.9b2b0be","type":"function","z":"67d69a8a.ae29d4","name":"","func":"S = msg.payload\nS = Math.round(S/1000)\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":300,"wires":[["4d3d2b57.dd05b4"]]},{"id":"ff797a83.ade348","type":"ui_text","z":"67d69a8a.ae29d4","group":"b55640db.785bc","order":11,"width":0,"height":0,"name":"pushed volume","label":"run will push:","format":"{{msg.payload | number: 2}} nL","layout":"row-spread","className":"","x":1500,"y":1020,"wires":[]},{"id":"93191de9.938f6","type":"function","z":"67d69a8a.ae29d4","name":"topic setter","func":"\nmsg.topic = 'd_pos'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":240,"wires":[[]]},{"id":"9b822321.34f58","type":"link in","z":"67d69a8a.ae29d4","name":"run","links":["670a84b4.7966ac"],"x":255,"y":500,"wires":[["981cbc85.fffa3"]]},{"id":"f264f9f6.0d21a8","type":"link in","z":"67d69a8a.ae29d4","name":"home","links":["2168c97a.22d9d6"],"x":255,"y":560,"wires":[["19c5c606.3f735a"]]},{"id":"9cd8f19c.b9ea1","type":"link in","z":"67d69a8a.ae29d4","name":"volume","links":["3b577f51.96cf5"],"x":155,"y":900,"wires":[["2e2b1f3.f7448e"]]},{"id":"5169c43e.f90f5c","type":"function","z":"67d69a8a.ae29d4","name":"","func":"flow.vol = flow.vol || 0; // desired volume\nflow.volume = flow.volume || 125; // single step volume in nL\nflow.position = flow.position || 80000; //present position\n\nif (msg.topic === 'd_vol') {\n    flow.vol = msg.payload;\n} else if (msg.topic === 'position') {\n    flow.position = msg.payload;\n} else if (msg.topic === 'step_volume') {\n    flow.volume = msg.payload;\n} else if (msg.topic === 'pump_3/position_now') {\n    flow.position = msg.payload;\n}\nif (context.vol === 0){\n    msg.payload = context.position;\n} else{\n    S = Math.round(flow.vol*1000000/flow.volume);\n    msg.vol = flow.vol;\n    msg.volume = flow.volume;\n    msg.S = S;\n    msg.payload = flow.position-S;\n}\nmsg.topic = 'd_pos';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":880,"wires":[["39646df7.184572","69fb00b4.2b692"]]},{"id":"93251c3a.76ef8","type":"function","z":"67d69a8a.ae29d4","name":"","func":"flow.vol_speed = context.vol_speed || 70;\nflow.volume = context.volume || 125;\n\nif (msg.topic === 'd_vol_speed') {\n  flow.vol_speed = msg.payload;\n} else if (msg.topic === 'step_volume') {\n  flow.volume = msg.payload;\n}\nif (flow.vol_speed === 0){\n    S = 10\n} else {\n    S = Math.round(5/(flow.vol_speed/6/flow.volume))\n}\nmsg.payload = S\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":960,"wires":[["1ea741f.9b2b0be","bf45ffac.d8608"]]},{"id":"39646df7.184572","type":"function","z":"67d69a8a.ae29d4","name":"","func":"flow.d_pos = flow.d_pos || 0;\nflow.volume = flow.volume || 125;\nflow.position = flow.position || 80000;\n\nif (msg.topic === 'd_pos') {\n  flow.d_pos = msg.payload;\n} else if (msg.topic === 'position') {\n  flow.position = msg.payload;\n} else if (msg.topic === 'volume') {\n  flow.volume = msg.payload;\n}\n\nS = Math.round(flow.volume*(flow.position-flow.d_pos))\nmsg.payload = S\nmsg.topic = 'd_pos'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1000,"wires":[["ff797a83.ade348"]]},{"id":"2e2b1f3.f7448e","type":"function","z":"67d69a8a.ae29d4","name":"","func":"if (msg.volume !=0){\n    var msg1 = {payload: msg.volume};\n    var msg2 = {payload: msg.speed};\n    return [msg1,msg2];\n} else {}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":900,"wires":[["9e886f5d.2a33e","aa1f164c.c11078"],["30b8736c.699afc"]]},{"id":"9e886f5d.2a33e","type":"delay","z":"67d69a8a.ae29d4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":740,"wires":[["f4f4f254.e30ec"]]},{"id":"e5dd603b.e1dc6","type":"ui_group","name":"all pumps","tab":"a2196d69.e570a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4595ce81.093c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83f6308b.a225","type":"ui_group","name":"pump_2","tab":"a2196d69.e570a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"84f5a50.a907958","type":"ui_group","name":"pump_2 tech","tab":"a2196d69.e570a","order":6,"disp":true,"width":"6","collapse":true,"className":""},{"id":"197263ba.df276c","type":"ui_group","name":"pump_3","tab":"a2196d69.e570a","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b55640db.785bc","type":"ui_group","name":"pump_3_tech","tab":"a2196d69.e570a","order":7,"disp":true,"width":"6","collapse":true,"className":""},{"id":"a2196d69.e570a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]